<div class="container">
<h1>Welcome#index</h1>
<div class="sixteen columns">
  <hr>
<div class="content_wrap">
<p>Find me in app/views/welcome/index.html.erb</p>


<a href="#" class="button">Click Me</a>
</div>
  <hr>
</div>
</div>
