
<div class="banner">
   

    <div class="banner-head">
        Saas Wiki Collaboration Tool<br>
      
<div class="primary_signin">
            <% if current_user %>
 Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
 <% else %>
  
   <%= button_to "Sign in", new_user_session_path, :class => "pure-button pure-button-primary ", :method => :get %>

   <% end %>
 </div>
</div>
     

 

</div>



</tbody>

</table> <!-- end table #2 -->



 </div> <!--end table wrapper-->


