
<div class="container">

<h1>Welcome#index</h1>
<div class="sixteen columns">
  <hr>
<div class="content_wrap">
<p>Find me in app/views/welcome/index.html.erb</p>

 <% if current_user %>
 Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
 <% else %>
   <%= button_to "Sign in", new_user_session_path, :class => "sign-up", :method => :get %>

   <% end %>

</div>
  <hr>
</div>
<div class="eight columns alpha plan-type">Free Plan</div>
<div class="eight columns omega plan-type">Premium Plan</div>

</div>
