<div class="container">
  <h1>Wiki#show</h1>

<p>
  <strong>Title:</strong>
  <%= markdown @wiki.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= markdown @wiki.body %>
</p>


<%= button_to "Edit", edit_wiki_path(@wiki), :method => :get %>
<%= button_to "Delete Wiki", @wiki, method: :delete %>
</div>