/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require purecss
 *= require_tree .
  = require chosen


 */
a {
  color: #d6d6d6
}

h1{
  font-size: 16px;
  color: #b0cadb
}

table th{
  text-align: center;
  background-color: bisque;
}

.pricing_table{
  width: 900px;
  margin: auto;
  text-align: center;
}

.primary_signin{
  margin-top: 20px;
  font-size: 20px;
}

.banner {
    background: transparent url('http://subtlepatterns.com/patterns/geometry.png') 0 0 no-repeat fixed;
    text-align: center;
    background-repeat: repeat-x;
    background-size: ;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg', sizingMethod='scale');

    height: 400px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

.content_padding
{
  padding: 2em 3em 0;
}


 .banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 4em;
    color: #b0cadb;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
    }



