/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
  = require chosen
*= require flat-ui


 */
a {
  color: #d6d6d6
}

html, body {
  height: 100%;
}


.bttn_huge{
  height: 70px;
}

.margin{
margin-bottom: 0px !important;
}

.absoluteCenter {
 /* Must manually set width/height */
 width:800px;
 height:500px;

 /* The magic centering code */
 margin:auto;
 position:absolute;
 top:0;bottom:0; /* Aligns Vertically - Remove for Horizontal Only */
 left:0;right:0; /* Aligns Horizontally - Remove for Vertical Only  */

 /* Prevent div from overflowing main window */
 max-width:100%;
 max-height:100%;
 overflow:auto;
}


.absoluteCenterSignUp {
 /* Must manually set width/height */
 width:800px;
 height:620px;

 /* The magic centering code */
 margin:auto;
 position:absolute;
 top:0;bottom:0; /* Aligns Vertically - Remove for Horizontal Only */
 left:0;right:0; /* Aligns Horizontally - Remove for Vertical Only  */

 /* Prevent div from overflowing main window */
 max-width:100%;
 max-height:100%;
 overflow:auto;
}



.dk_fouc select{

position: relative !important;
top: 0 !important;
visibility:  inherit !important;
}



/* IE 7 and Below */
:first-child+html .absoluteCenter,
* html .absoluteCenter {
 /* Place code here to override all above values, and add IE friendly centering */
}

.sidebar {
    color: #fff;
    width: 20%;
    background-color: #1abc9c;
}

.visible{
  color: #ffffff
}


.bttn_width{
  width: 206px !important;
}

.bttn_widthSecondary{
width: 150px !important;
}

.container{
  height: 100% !important;
}

.sign_in{
  width:700px;
  margin: auto;
}

.clipboard{
  float: right;
  width: 40%;
  margin-left: auto;
  margin-right: 50px;
}

h1{
  font-size: 16px;
  color: #b0cadb
}

table th{
  text-align: center;
  background-color: bisque;
}

.pricing_table{
  width: 900px;
  margin: auto;
  text-align: center;
}

.primary_signin{
  margin-top: 20px;
  font-size: 20px;
}

.banner {
    background: 
    linear-gradient(
      rgba(255, 0, 0, 0.11), 
      rgba(52, 73, 94, 0.22)
    ),
    url('http://subtlepatterns.com/patterns/geometry.png') 0 0 no-repeat fixed;
    text-align: center;
    background-repeat: repeat;
    height:100%;
    width: 100%;
    display: table;
  }


 .banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 4em;
    color: #b0cadb;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
    }

    

.content_padding
{
  padding: 4em 3em 0;
}




